.top-container {
    height: 100px;
}

.img-trenulet{
    background-image: url("../../assets/img-navbar-tren.jpg");
    background-size: cover;
    background-position-y: 275px;
    height: 50px;
    width: 100%;
}

mat-toolbar{
    background-color: rgb(105,66,132);
    color: white;
    height: 50px;
    width: 100%;
}

button{
    font-size: 100%;
    margin: 10px;
    border-bottom: 2px solid rgb(105,66,132);
    height: 75%;
    width: 30%;
}

button:hover{
    border-bottom: 2px solid white;
}

a, a:hover, a:visited{
    color: white;
    text-decoration: none;
}

