<h1> Care este data calatoriei? </h1>
<mat-form-field>
    <mat-label>Data calatoriei</mat-label>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="dataCalatorie" [matDatepickerFilter]="dateFilter.bind(this)" [min]="todayDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
<button mat-raised-button color="primary" (click)="onConfirm()">Ok</button>
<button mat-raised-button (click)="onNoClick()">Cancel</button>