.content-wrapper{
    background-color: rgb(182, 161, 196);
    min-height: 87.68vh;
    padding-top: 2vh;
}

mat-card-footer{
    text-align: center;
    color:rgba(0, 0, 0, 0.19);
    margin: 10px;
}

mat-card{
    max-width: 1500px;
    margin: auto;
}